.overlay {
	box-sizing: border-box;
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	z-index: 99;
	padding: 64px;

	background: color-mix(in hsl, black, transparent 10%);

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#overlay-copy-configuration textarea {
	width: 100%;
	height: 100%;
	padding: 4px;
	margin-bottom: 8px;

	resize: none;

	outline: none;
	border: none;
	background: black;

	text-wrap: wrap;
}

#overlay-copy-configuration textarea::selection {
	background: color-mix(in hsl, white, transparent 80%);
	color: white
}

#overlay-copy-configuration button {
	transition-duration: .1s;
	width: 100%;
	padding: 4px;
	outline: none;
	border: none;
	background: color-mix(in hsl, hsl(0, 100%, 85%), transparent 95%);
	color: hsl(0, 100%, 85%);
}

#overlay-copy-configuration button:hover {
	background: hsl(0, 100%, 85%); 
	color: black;
}


#overlay-allow-import-configuration textarea {
	width: 100%;
	height: 50%;
	padding: 4px;
	margin-bottom: 8px;

	resize: none;

	outline: none;
	border: none;
	background: black;

	text-wrap: wrap;
}

#overlay-allow-import-configuration textarea::selection {
	background: color-mix(in hsl, white, transparent 80%);
	color: white
}

#overlay-allow-import-configuration button {
	transition-duration: .1s;
	width: 100%;
	padding: 4px;
	outline: none;
	border: none;
	background: color-mix(in hsl, hsl(0, 100%, 85%), transparent 95%);
	color: hsl(0, 100%, 85%);
}

#overlay-allow-import-configuration button:hover {
	background: hsl(0, 100%, 85%); 
	color: black;
}


