.toast {
	position: fixed;
	bottom: 16px;
	width: 100%;
}

.toast p {
	position: relative;
	width: fit-content;
	max-width: 90%;
	padding: 0 4px;
	margin: 0 auto;
	margin-bottom: 8px;
	color: var(--accent-color);
	background-color: color-mix(in srgb, var(--accent-color), transparent 50%);
	text-align: center;
	text-wrap: wrap;
	animation-name: slide-in;
	animation-duration: 0.5s;
	cursor: pointer;
}

@keyframes slide-in {
	from {
		transform: translateY(32px);
		opacity: 0;
	}
	to {
		transform: translateY(0);
		opacity: 1;
	}
}

